.App {
   background-color: #1c1c1c;
}

.backdrop-filter-blur {
  background-color: #1c1c1c54;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.bg-post {
  background-color: #404449;
}
.bg-comment {
  background-color: #363b42;
}

.App-header {
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 50px;
}

nav div{
  position: fixed;
 }


article {
  min-width: 60%;
}



.dec-none {
  text-decoration: none;
}

.App-logo {
  background-image: url(./assets/images/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 35px;
  width: 100px;
  color: transparent;
  box-shadow: none;
}

.profile-image {
  background-image: url(./assets/images/avatar-159236_640.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 35px;
  width: 35px;
  color: transparent;
  box-shadow: none;
  border-radius: 100%;
}


.App-footer {
  min-height: 10vh;
  color: rgb(187, 187, 187);
  text-align: center;
  padding: 50px;
}





input:placeholder-shown {
  background-color: rgba(54, 54, 54, 0);
  border: 2px solid rgba(170, 170, 170, 0.301);
}

select,
input,
label {
  font-family: 'Times New Roman', Times, serif;
}

.button-basic, .button-submit {
  transition-duration: 1s;
  color: rgba(255, 255, 255, 0.497);
  background-color: transparent;
  border: none;
}

.button-basic:hover {
  text-shadow: 0 0 1px white, 0 0 10px rgb(240, 245, 255), 0 0 20px rgb(219, 236, 255);
  box-shadow: 0 5 5px rgb(255, 255, 255), 0 5 20px rgba(255, 255, 255, 0.701);
  color: white;
  transition: text-shadow color 1s;  
}

.button-submit:hover {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.548), 0 0 20px rgba(255, 255, 255, 0.363);
  text-shadow: 0 0 1px white, 0 0 10px rgba(186, 210, 255, 0.908), 0 0 20px rgba(150, 201, 255, 0.682);
  color: white;
  background-color: rgba(43, 82, 150, 0.664);
}

.button-risky:hover {
  box-shadow: 0 0 5px white, 0 0 10px rgba(255, 255, 255, 0.788), 0 0 20px rgba(255, 255, 255, 0.586);
  text-shadow: 0 0 1px white, 0 0 10px rgba(255, 255, 255, 0.524);
  color: white;
  background-color: rgb(177, 0, 0);
}

nav, aside {
  display : none;
}

#bottom-navbar {
  display: flex;
}


@media only screen and (min-width: 1000px) {
  nav, aside {
    display: block;
  }
  #bottom-navbar {
    display: none;
  }
}